.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  display: flex;
  justify-content: center;
}

.categories {
  display: grid;
  grid-template-columns: auto auto;
}

.navbar {
  display: flex;
  align-items:center;
  margin-bottom: 0px;
  padding-start: 0px;
}

.categoriesListStyle {
  border-bottom: 1px solid #cecece;
  list-style: none;
  padding: 5px 0px 5px 5px;
}

.categoriesListStyle:hover {
  background:#CECECE;
}

.categoriesListStyle i {
  float: right;
  padding-right: 10px;
}

.navbar div, .navbar img {
  padding-right: 10px;
}

.cartbutton {
  background-color: #4285f4;
  color:white;
  text-decoration: none;
}

.cartbutton:focus {
  outline:0;
}

.cartbutton:hover {
  text-decoration: none;
}

.cartbutton img {
  width: 40px;
}

/* Top of the week */

.topWeek {
  font-family: "Impact", fantasy;
  color: #4285f4;
  font-size: 40px;
  text-shadow: 2px 2px 0 #DCDCDC;
  padding: 10px 0 30px 0;
}

.topWeek span {
  padding: 0 30px 0 30px;
}

/* List of Products */

.listProducts thead th {
  font-family: "Gill Sans", sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #cecece;
  font-size: 28px;
  padding-bottom: 15px;
}

.listProducts tbody td {
  padding-bottom: 10px;
}

.listProducts tbody td img {
  margin-left: 25px;
  margin-right: 10px;
}

.listProducts tbody td button {
  margin-left: 20px;
}

/* Cart */

.homeButton {
  padding: 10px;
}

.titleCart {
  padding: 0 0 30px 10px;
}

.titleCart img{
  float: left;
  margin: 8px;
}

.cartTable {
  margin-left: 15px;
}

.cartTable tbody tr {
  border: 1px solid #cecece;
}

.cartTable tbody img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cartTable .priceArticle {
  padding-right: 20px;
}

.cartTable tbody td {
  padding-left: 20px;
}

.cartTable button {
  background-color: #4285f4;
  color:white;
}

.removeButton button {
  background-color: #cecece;
  color:black;
}

.bold {
  font-weight: bold;
}

.totalPrice {
  padding: 40px 0 0 10px;
}

.buttonValCart{
  margin: 15px 0 40px 25px;
}

.stepDelivery {
  color: #4285f4;
  font-style: italic;
}

.ml-4 h2 {
  padding-top: 15px;
  padding-bottom: 20px;
}

.buttonDelivery {
  margin-right: 15px;
}

.buttonValidate {
  background-color: #4285f4;
  color: white;
}

.buttonClear {
  background-color: white;
  color: grey;
  border: 1px solid grey;
}

.buttonCheckout {
  padding-bottom: 45px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.signout {
  font-family: Roboto, arial, sans-serif;
  background-color: #4285f4;
  border: none;
  color: #fff;
  padding: .5em .75em;
  cursor: pointer;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url(https://www.decathlon.co.uk/store//en/0070084700847/photo-mag1950395172.JPG);
  background-position: 10% 15%;
  background-size: cover;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  color: white;
}

.ProductDetails {
  margin: 20px
}
.ProductDetails img{
  min-width: 205px;
  min-height:205px;
}

.clear {
  clear: both
}

.product-description:first-letter {
  text-transform: capitalize
}

.container {
  display: flex; /* or inline-flex */
}

.item-1 {
  flex-grow: 1 ; /* default 0 */
}

.item-2 {
  flex-grow: 2; /* default 0 */
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 350px;
    min-height: 100vh;
    padding-left: 10px;
    border-right: 1px solid grey;
    margin-left:0px;
    transition:margin 0.3s;
}

#sidebar.active {
    margin-left: -350px;
}

/** ScrollToTop **/

#scrollToTop a{
  position: fixed;
  right: 20px;
  bottom: 10px;
  background-color: rgb(255,255,255); /** rgba fallback**/
  background-color: rgba(255,255,255, 0.0);
  padding: 60px 40px;
}

#scrollToTop a:hover{
  background-color: rgb(255,255,255); /** rgba fallback**/
  background-color: rgba(255,255,255, 0.0);
  padding: 60px 40px;
}
