.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}

.listProducts {
  margin-top: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.signout {
  font-family: Roboto, arial, sans-serif;
  background-color: #4285f4;
  border: none;
  color: #fff;
  padding: .5em .75em;
  cursor: pointer;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url(https://www.decathlon.co.uk/store//en/0070084700847/photo-mag1950395172.JPG);
  background-position: 10% 15%;
  background-size: cover;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  color: white;
}

.ProductDetails {
  margin: 20px
}
.ProductDetails img{
  min-width: 205px;
  min-height:205px;
}

.clear {
  clear: both
}

.price {font-size: 25px;}

.product-description:first-letter {
  text-transform: capitalize
}
